USE [master]
GO
/****** Object:  Database [David_Badminton]    Script Date: 28/09/2024 12:51:38 SA ******/
CREATE DATABASE [David_Badminton]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'David_Badminton', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\David_Badminton.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'David_Badminton_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\David_Badminton_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [David_Badminton].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [David_Badminton]
GO
/****** Object:  Table [dbo].[Coachs]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coachs](
	[CoachID] [int] IDENTITY(1,1) NOT NULL,
	[CoachName] [nvarchar](500) NOT NULL,
	[Images] [nvarchar](500) NULL,
	[FacilityID] [int] NOT NULL,
	[TypeUserID] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](500) NOT NULL,
	[StatusID] [int] NOT NULL,
	[Education] [int] NOT NULL,
	[Experience] [nvarchar](500) NOT NULL,
	[Level] [int] NOT NULL,
	[TaxCode] [nvarchar](500) NOT NULL,
	[BankName] [nvarchar](500) NOT NULL,
	[BankNumber] [nvarchar](500) NOT NULL,
	[WorkingStart] [datetime] NOT NULL,
	[HealthCondition] [nvarchar](500) NOT NULL,
	[CCCD] [nvarchar](500) NOT NULL,
	[PlaceOfOrigin] [nvarchar](500) NOT NULL,
	[PlaceOfResidence] [nvarchar](500) NOT NULL,
	[Salary] [numeric](18, 0) NULL,
	[MaritalStatus] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[NamePerson] [nvarchar](500) NOT NULL,
	[Relationship] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](500) NOT NULL,
	[UserCreated] [nvarchar](500) NOT NULL,
	[UserUpdated] [nvarchar](500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Coachs] PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facilitys]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facilitys](
	[FacilityID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityName] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Longtitude] [numeric](18, 2) NOT NULL,
	[Latitude] [numeric](18, 2) NOT NULL,
	[UserCreated] [nvarchar](500) NOT NULL,
	[UserUpdated] [nvarchar](500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Facilitys] PRIMARY KEY CLUSTERED 
(
	[FacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningProcess]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningProcess](
	[LearningProcessID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[TimeStart] [date] NOT NULL,
	[TimeEnd] [date] NOT NULL,
	[CoachName] [nvarchar](500) NOT NULL,
	[LearningOutComes] [nvarchar](500) NULL,
	[Comment] [nvarchar](500) NULL,
	[Feedback] [nvarchar](500) NULL,
 CONSTRAINT [PK_LearningProcess] PRIMARY KEY CLUSTERED 
(
	[LearningProcessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleAccess]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleAccess](
	[ModuleID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[UserCreated] [nvarchar](500) NOT NULL,
	[UserUpdated] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_ModuleAccess] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RollCalls]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RollCalls](
	[RollCallID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CoachID] [int] NOT NULL,
	[isCheck] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[UserCreated] [nvarchar](500) NOT NULL,
	[UserUpdated] [nvarchar](500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_RollCall] PRIMARY KEY CLUSTERED 
(
	[RollCallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityID] [int] NOT NULL,
	[CoachID] [int] NOT NULL,
	[TimeID] [int] NOT NULL,
	[TypeUserID] [int] NOT NULL,
	[StudentName] [nvarchar](500) NOT NULL,
	[Images] [nvarchar](500) NOT NULL,
	[GenderID] [int] NULL,
	[Birthday] [datetime] NOT NULL,
	[Phone] [nvarchar](500) NOT NULL,
	[StatusID] [int] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[Level] [int] NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Tuitions] [numeric](18, 0) NULL,
	[StudyStart] [datetime] NOT NULL,
	[HealthCondition] [nvarchar](500) NOT NULL,
	[Height] [nvarchar](500) NOT NULL,
	[Weight] [nvarchar](500) NOT NULL,
	[GuardianName] [nvarchar](500) NOT NULL,
	[Relationship] [nvarchar](500) NOT NULL,
	[GuardianPhone] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[UserCreated] [nvarchar](500) NOT NULL,
	[UserUpdated] [nvarchar](500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Time]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time](
	[TimeID] [int] IDENTITY(1,1) NOT NULL,
	[TimeName] [nvarchar](500) NOT NULL,
	[UserCreated] [nvarchar](500) NOT NULL,
	[UserUpdated] [nvarchar](500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Time] PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeUsers]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeUsers](
	[TypeUserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_TypeUsers] PRIMARY KEY CLUSTERED 
(
	[TypeUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserModules]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModules](
	[UserModuleID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ModuleID] [numeric](18, 0) NOT NULL,
	[CoachID] [int] NOT NULL,
	[IsView] [int] NOT NULL,
	[IsInsert] [int] NOT NULL,
	[IsDelete] [int] NOT NULL,
	[IsUpdate] [int] NOT NULL,
 CONSTRAINT [PK_UserModules] PRIMARY KEY CLUSTERED 
(
	[UserModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coachs] ON 

SET IDENTITY_INSERT [dbo].[Coachs] OFF
GO
SET IDENTITY_INSERT [dbo].[Facilitys] ON 

INSERT [dbo].[Facilitys] ([FacilityID], [FacilityName], [Address], [Longtitude], [Latitude], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (2, N'Sân cầu lông Đức Kim', N'Hẻm 02 Hẻm 338 Nguyễn Văn Quá, Đông Hưng Thuận, Quận 12, Hồ Chí Minh', CAST(107.00 AS Numeric(18, 2)), CAST(11.00 AS Numeric(18, 2)), N'Administrator', N'Administrator', CAST(N'2024-09-20T00:00:00.000' AS DateTime), CAST(N'2024-09-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Facilitys] ([FacilityID], [FacilityName], [Address], [Longtitude], [Latitude], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (4, N'Sân cầu lông Quang Vinh', N'1/109 Đ. Đông Hưng Thuận 10B, P, Quận 12, Hồ Chí Minh', CAST(107.00 AS Numeric(18, 2)), CAST(11.00 AS Numeric(18, 2)), N'Administrator', N'Administrator', CAST(N'2024-09-20T17:58:58.700' AS DateTime), CAST(N'2024-09-27T22:36:28.010' AS DateTime))
INSERT [dbo].[Facilitys] ([FacilityID], [FacilityName], [Address], [Longtitude], [Latitude], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (11, N'Sân cầu lông Minh Tâm', N'412/17 Đ. Nguyễn Văn Quá, P, Quận 12, Hồ Chí Minh', CAST(108.00 AS Numeric(18, 2)), CAST(12.00 AS Numeric(18, 2)), N'Administrator', N'Administrator', CAST(N'2024-09-26T11:47:32.387' AS DateTime), CAST(N'2024-09-27T22:36:40.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[Facilitys] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleAccess] ON 

INSERT [dbo].[ModuleAccess] ([ModuleID], [Name], [Description], [DateCreated], [DateUpdated], [UserCreated], [UserUpdated]) VALUES (CAST(1 AS Numeric(18, 0)), N'Bộ Quyền', N'Xem, Thêm, Xoá , Sửa', CAST(N'2024-09-22T14:50:14.103' AS DateTime), CAST(N'2024-09-22T14:50:14.103' AS DateTime), N'Administrator', N'Administrator')
INSERT [dbo].[ModuleAccess] ([ModuleID], [Name], [Description], [DateCreated], [DateUpdated], [UserCreated], [UserUpdated]) VALUES (CAST(2 AS Numeric(18, 0)), N'Ca học', N'Xem, Thêm, Xoá , Sửa', CAST(N'2024-09-22T14:50:32.163' AS DateTime), CAST(N'2024-09-22T14:50:32.163' AS DateTime), N'Administrator', N'Administrator')
INSERT [dbo].[ModuleAccess] ([ModuleID], [Name], [Description], [DateCreated], [DateUpdated], [UserCreated], [UserUpdated]) VALUES (CAST(3 AS Numeric(18, 0)), N'Cơ sở', N'Xem, Thêm , Xoá , Sửa', CAST(N'2024-09-22T14:50:45.053' AS DateTime), CAST(N'2024-09-22T14:50:45.053' AS DateTime), N'Administrator', N'Administrator')
SET IDENTITY_INSERT [dbo].[ModuleAccess] OFF
GO
SET IDENTITY_INSERT [dbo].[RollCalls] ON 

INSERT [dbo].[RollCalls] ([RollCallID], [StudentID], [CoachID], [isCheck], [StatusID], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (9, 16, 6, 1, 1, N'Administrator', N'Administrator', CAST(N'2024-09-26T15:18:24.523' AS DateTime), CAST(N'2024-09-26T15:18:24.523' AS DateTime))
INSERT [dbo].[RollCalls] ([RollCallID], [StudentID], [CoachID], [isCheck], [StatusID], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (10, 16, 6, 0, 1, N'Administrator', N'Administrator', CAST(N'2024-09-26T15:20:15.427' AS DateTime), CAST(N'2024-09-26T15:20:15.427' AS DateTime))
INSERT [dbo].[RollCalls] ([RollCallID], [StudentID], [CoachID], [isCheck], [StatusID], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (11, 16, 6, 1, 1, N'Administrator', N'Administrator', CAST(N'2024-09-26T15:20:29.200' AS DateTime), CAST(N'2024-09-26T15:20:29.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[RollCalls] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Time] ON 

INSERT [dbo].[Time] ([TimeID], [TimeName], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (1, N'Ca 1: 2-4-6 - 18H', N'Administrator', N'Administrator', CAST(N'2024-09-20T20:33:09.710' AS DateTime), CAST(N'2024-09-20T20:52:54.753' AS DateTime))
INSERT [dbo].[Time] ([TimeID], [TimeName], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (2, N'Ca 2: 2-4-6 - 20H', N'Administrator', N'Administrator', CAST(N'2024-09-20T20:33:24.610' AS DateTime), CAST(N'2024-09-20T20:33:24.610' AS DateTime))
INSERT [dbo].[Time] ([TimeID], [TimeName], [UserCreated], [UserUpdated], [DateCreated], [DateUpdated]) VALUES (3, N'Ca 1: 3-5-7 - 18H', N'Administrator', N'Administrator', CAST(N'2024-09-20T20:33:29.623' AS DateTime), CAST(N'2024-09-20T20:33:29.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[Time] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeUsers] ON 

INSERT [dbo].[TypeUsers] ([TypeUserID], [UserName], [Description], [DateCreated], [DateUpdated]) VALUES (1, N'HLV', N'HLV', CAST(N'2024-09-19T00:00:00.000' AS DateTime), CAST(N'2024-09-19T00:00:00.000' AS DateTime))
INSERT [dbo].[TypeUsers] ([TypeUserID], [UserName], [Description], [DateCreated], [DateUpdated]) VALUES (2, N'Administrator', N'Administrator', CAST(N'2024-09-19T00:00:00.000' AS DateTime), CAST(N'2024-09-19T00:00:00.000' AS DateTime))
INSERT [dbo].[TypeUsers] ([TypeUserID], [UserName], [Description], [DateCreated], [DateUpdated]) VALUES (3, N'HocVien', N'HocVien', CAST(N'2024-09-19T00:00:00.000' AS DateTime), CAST(N'2024-09-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TypeUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserModules] ON 

INSERT [dbo].[UserModules] ([UserModuleID], [ModuleID], [CoachID], [IsView], [IsInsert], [IsDelete], [IsUpdate]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 1, 0, 0, 0, 0)
INSERT [dbo].[UserModules] ([UserModuleID], [ModuleID], [CoachID], [IsView], [IsInsert], [IsDelete], [IsUpdate]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), 1, 1, 1, 1, 1)
INSERT [dbo].[UserModules] ([UserModuleID], [ModuleID], [CoachID], [IsView], [IsInsert], [IsDelete], [IsUpdate]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserModules] OFF
GO
ALTER TABLE [dbo].[Coachs]  WITH CHECK ADD  CONSTRAINT [FK_Coachs_Facilitys] FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilitys] ([FacilityID])
GO
ALTER TABLE [dbo].[Coachs] CHECK CONSTRAINT [FK_Coachs_Facilitys]
GO
ALTER TABLE [dbo].[Coachs]  WITH CHECK ADD  CONSTRAINT [FK_Coachs_TypeUsers] FOREIGN KEY([TypeUserID])
REFERENCES [dbo].[TypeUsers] ([TypeUserID])
GO
ALTER TABLE [dbo].[Coachs] CHECK CONSTRAINT [FK_Coachs_TypeUsers]
GO
ALTER TABLE [dbo].[RollCalls]  WITH CHECK ADD  CONSTRAINT [FK_RollCall_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[RollCalls] CHECK CONSTRAINT [FK_RollCall_Students]
GO
ALTER TABLE [dbo].[RollCalls]  WITH CHECK ADD  CONSTRAINT [FK_RollCalls_Coachs] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coachs] ([CoachID])
GO
ALTER TABLE [dbo].[RollCalls] CHECK CONSTRAINT [FK_RollCalls_Coachs]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[Time] ([TimeID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Time]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_TypeUsers] FOREIGN KEY([TypeUserID])
REFERENCES [dbo].[TypeUsers] ([TypeUserID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_TypeUsers]
GO
ALTER TABLE [dbo].[UserModules]  WITH CHECK ADD  CONSTRAINT [FK_UserModules_Coachs] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coachs] ([CoachID])
GO
ALTER TABLE [dbo].[UserModules] CHECK CONSTRAINT [FK_UserModules_Coachs]
GO
ALTER TABLE [dbo].[UserModules]  WITH CHECK ADD  CONSTRAINT [FK_UserModules_ModuleAccess] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[ModuleAccess] ([ModuleID])
GO
ALTER TABLE [dbo].[UserModules] CHECK CONSTRAINT [FK_UserModules_ModuleAccess]
GO
/****** Object:  StoredProcedure [dbo].[getCheckedStudentsByDateAndCoach]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getCheckedStudentsByDateAndCoach]
	@dateSelected DATE = '2024-09-26' ,        
    @coachID INT = 6
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SELECT 
		 
		    rc.RollCallID,          
        rc.StudentID,          
        st.StudentName,       
        rc.CoachID,             
        co.CoachName,           
        rc.isCheck,             
        rc.StatusID,   
		rc.UserCreated,
        rc.DateCreated          
    FROM RollCalls rc
    INNER JOIN Students st ON rc.StudentID = st.StudentID
    INNER JOIN Coachs co ON rc.CoachID = co.CoachID
    WHERE 
        rc.isCheck = 1                         
        AND rc.CoachID = @coachID              
        AND CAST(rc.DateCreated AS DATE) = @dateSelected  
    ORDER BY rc.DateCreated DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[getCountRolCall]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getCountRolCall]
	@dateSelected DATE = '2024-09-26',
	@dateEND date ='2024-09-28'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SELECT 
		 
		       
        rc.StudentID,          
        st.StudentName,       
		Count(rc.RollCallID) as totalClass
    FROM RollCalls rc
     inner JOIN Students st ON rc.StudentID = st.StudentID
    WHERE 
        rc.isCheck = 1                         
        AND CAST(rc.DateCreated As date) >= @dateSelected           
        AND CAST(rc.DateCreated AS DATE) <=  @dateEND
    Group by
	rc.StudentID,st.StudentName
END
GO
/****** Object:  StoredProcedure [dbo].[getModuleAccessUser]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getModuleAccessUser]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SELECT 
		  0 as 'UserMoudleID'
		  ,ModuleID
		  ,Name
		  ,Description
		  ,0 as 'IsView'
		  ,0 as 'IsInsert'
		  ,0 as 'IsDelete'
		  ,0 as 'IsUpdate'
		  ,DateCreated
		  ,DateUpdated
		  ,UserCreated
		  ,UserUpdated
	FROM [dbo].[ModuleAccess]

END
GO
/****** Object:  StoredProcedure [dbo].[getStudentByCoachID]    Script Date: 28/09/2024 12:51:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getStudentByCoachID]
	-- Add the parameters for the stored procedure here
	@facilityid int = 0,
	@coachid int = 0,
	@timeid int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SELECT 
		 
		  st.CoachID
		  ,co.CoachName
		  ,st.StudentID
		  ,st.StudentName
		  ,te.TimeID
		  ,te.TimeName
		  ,fa.FacilityID
		  ,fa.FacilityName
		  ,0 as 'isCheck'
	FROM [dbo].[Coachs] co inner join Students st on co.CoachID = st.CoachID
						   inner join Time te on te.TimeID = st.TimeID
						   inner join Facilitys fa on st.FacilityID = fa.FacilityID
				where (@coachid = 0 or co.CoachID = @coachid) and (@timeid = 0 or te.TimeID = @timeid) and (@facilityid = 0 or fa.FacilityID = @facilityid)		
END		
GO
USE [master]
GO
