<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net46" />
  <package id="HarfBuzzSharp" version="7.3.0" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.26.1" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Logging" version="6.26.1" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.26.1" targetFramework="net46" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="QuestPDF" version="2022.12.10" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net48" />
  <package id="Spire.Doc" version="9.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
</packages>